<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>User CRUD</h1>
      <ul>
        <li><a href="/users/register">register</a></li>
        <li><a href="/users">all users</a></li>
      </ul>
      <hr>
    </header>
    {{{body}}}
    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="/javascripts/main.js"></script>
  </body>
</html>
