<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/users/register">register</a></li>
        <li><a href="/users">all users</a></li>
      </ul>
      <hr>
    </header>
    {{{body}}}
  </body>
</html>
