body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.button{
  background: blue;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
}

a.button.user-delete{
  background: red;
}