body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.6em;
}

a {
  color: #0275d8;
  text-decoration: none;
}

h2{
  padding-bottom: 20px;
}

.text-center {
  text-align: center;
}

ul{
  padding-left: 0;
}

li{
 list-style: none;
}

ul.nav li{
 display: inline-block;
 padding: 0 5px 30px;
}

ul.nav li a{
 background: #333;
  padding: 5px 10px;
 color: #fff;
 border-radius: 5px;
}

ul.nav li a:hover{
 background: #0275d8;
}

a.button, .button{
  background: #0275d8;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  border-radius: .25rem;
}

a.button.user-delete{
  background: #d9534f;
}

input[type='text'], input[type='password'], textarea{
        display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;*/
}

textarea{
  min-height: 150px;
}